<form class="form-search" id="search">
  <input type="text" class="input-medium search-query" placeholder="Слово">
  <button class="btn" type="submit" title="Искать">
    <i class="icon-search"></i>
  </button>
</form>