<form class="form-search" id="search" action="<%= search_words_path %>">
  <input type="text" class="input-medium search-query" name="q" placeholder="Слово">

  <button class="btn" type="submit" title="Искать">
    <i class="icon-search"></i>
  </button>
</form>