<script id="synsets-tpl" type="text/html">
  <div class="listing listing-synsets">
    <ul>
      {{#synsets}}
        <li>
          <label class="radio">
            <input type="radio" name="{{name}}" value="{{id}}">
            {{text}}
          </label>
        </option>
      {{/synsets}}
    </ul>
  </div>
</script>