= render partial: 'templates'

.relation-editor-notification
  Связь успешно сохранена!

%h3.centered Существующие связи
#relations-list.row-fluid
  %h4.centered Для отображения связей выберите слова в редакторе

%h3.centered Добавление связи
.row-fluid
  .centered
    %a.btn.btn-info.mb-10#relation-next-example{data: {example_path: next_example_relations_editor_path}}
      Следующий пример
.row-fluid.relation-editor
  #word1.span5
    .row-fluid.relation-edit-heading
      .form-group
        = label_tag :word1, 'Слово 1'
        .input-append
          %input.form-control.search-synsets{type: :search}
          .add-on
            %i.icon-search
    .row_fluid.synsets

  .span2
    .row-fluid.relation-edit-heading
      = label_tag :controls, 'Тип связи'
    .row-fluid#relation-buttons
      %a.btn.btn-info{data: {type: :hypernymy}}
        Род -> Вид
      %a.btn.btn-info{data: {type: :hypernymy, reverse: true}}
        Вид -> Род
      %a.btn.btn-info{data: {type: :holonymy}}
        Часть -> Целое
      %a.btn.btn-info{data: {type: :holonymy, reverse: true}}
        Целое -> Часть
      %a.btn.btn-info{data: {type: :antonymy}}
        Антоним
  #word2.span5
    .row_fluid.relation-edit-heading
      .form-group
        = label_tag :word2, 'Слово 2'
        .input-append
          %input.form-control.search-synsets{type: :search}
          .add-on
            %i.icon-search
    .row_fluid.synsets
