- if user_signed_in?
  %p
    Учётная запись:
    &= current_user.inspect
  %p= link_to 'Выйти', destroy_user_session_path, :method => :delete
- else
  %p
    = link_to 'Войти просто так', user_omniauth_authorize_path(:developer)
    или
    = link_to 'войти при помощи Facebook', user_omniauth_authorize_path(:facebook)
