<%= heading_with_title "Профиль" %>

<p><strong>Имя:</strong> <%= current_user %></p>
<p><strong>Роль:</strong> <%= current_user.admin? ? 'администратор' : 'участник' %></p>
<p><strong>Правок в синсетах:</strong> <%= @stats ? @stats.score : 0 %></p>
