      </div>
    </div>

    <div id="footer-gap"></div>
  </main>

  <footer id="footer">
    <div class="container">Проект выполняется при финансовой поддержке
    <a href="http://www.rfh.ru">РГНФ</a>, грант №13-04-12020.</div>
  </footer>

  <%= javascript_include_tag 'application' %>
  <%= yield(:javascript) if content_for?(:javascript) %>

  <%= render 'shared/metrika' if Rails.env.production? %>
</body>
