<form class="form-search" id="search" action="<%= words_path %>">
  <input type="text" class="input-medium search-query" name="q" placeholder="Введите слово">

  <button class="btn" type="submit" title="Искать">
    <i class="icon-search"></i>
  </button>
</form>
