%h3 Связанные синсеты
%table.large-12
  %tr
    %th{width: '30%'} Синсет
    %th{width: '70%'} Пример
  - @word.synset_words.each do |synset_word|
    - synset_word.synsets.each do |synset|
      %tr
        %td.text-center= link_to synset.id, synset_url(synset)
        %td.text-justify
          - synset_word.samples.each do |sample|
            %div= sample.text
