<div id="add-example-external-corpora-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-example-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="add-example-modal-label">Добавление определения из НКРЯ</h3>
  </div>
  <div class="modal-body">
    <input type="hidden" name="synset_word_id" value="">

    <div class="listing">
      <ul id="external-corpora-examples"></ul>
    </div>
  </div>
  <div class="modal-footer">
    <button id="add-example" class="btn" disabled='disabled'>Добавить</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Готово</button>
  </div>
</div>
