<div class="span6 panel" id="left-pane">
  <div class="row-fluid">
    <div class="span11" id="right-column">
      <div class="panel-inner">
        <section>
          <h3>
            Определения слова &laquo;<span class="current-word"></span>&raquo;

            <a href="#" id="expand-hidden" class="dashed-link"><small><i class="icon icon-chevron-down"></i></small>&nbsp;Показать скрытые определения</a>
          </h3>
          <div class="checkbox">
            <label>
              <input type='checkbox' onclick='$("#word-definitions-placeholder").toggleClass("hidden-samples");'>&nbsp;Скрывать примеры
            </label>
          </div>
          
          <div id="word-definitions-placeholder"></div>
        </section>

        <section>
          <h3>Синонимы</h3>
          <div id="synonymes-placeholder"></div>
        </section>

      </div>
    </div>
    <div class="span1" id="add-to-current-synset">
      <div id="add-to-current-synset-btn" class="disabled" title="Добавить определение в текущий синсет">&nbsp;</div>
    </div>
  </div>
</div>
