#select-marks-modal.modal.hide.fade{tabindex: -1, role: 'dialog', aria: {hidden: true, :'labelledby' => 'select-marks-label'}}
  - marks_categories.each do |category|
    %div{data: {id: category.id}}
      .navbar
        .navbar-inner
          .brand
            = category.title
      %ul.nav.nav-pills
        - category.marks.each do |mark|
          %li.mark{data: {id: mark.id}}
            %a{tabindex: '-1', href: '#'}
              = mark.name
  .navbar
    .navbar-inner
      .modal-footer
        %a.btn.btn-primary.pull-right{data: {dismiss: 'modal'}, aria: {hidden: true}}
          Готово