<div class="span6 panel" id="right-pane">
  <div class="panel-inner" id="synsets">
    <section>
      <h3>Синсеты</h3>

      <div id="synsets-placeholder"></div>

      <div>
        <a href="#" class="dashed-link" id="add-synset">
          <small><i class="icon icon-plus-sign"></i></small>
          &nbsp;Добавить синсет
        </a>
      </div>

    </section>
  </div>
</div>
