<h1>Yet Another RussNet</h1>

<p>The <strong>Yet Another RussNet</strong> (YARN) project was initiated in 2013 and aims at creating a large open WordNet-like machine-readable thesaurus for the Russian language through crowdsourcing. The project <em>objectives</em> include creating the thesaurus, developing free and libr&eacute; open source software to operate with it, designing the necessary data schemes and models, writing technical and user documentation. The thesaurus is available under the <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC&nbsp;BY-SA</a> license.</p>

<h2>Project Outline</h2>

<p>YARN is conceptually similar to Princeton WordNet and its followers: it consists of synsets&mdash;groups of quasi-synonyms corresponding to a concept. Concepts are linked to each other, primarily via hierarchical hyponymic/hypernymic relationships. According to the project's outline, YARN contains nouns, verbs, and adjectives. We aim at splitting the process of thesaurus creation into smaller tasks and developing custom interfaces for each of them. The first step is an online tool for building noun synsets based on content of existing dictionaries. The goal of this stage is to establish YARN core content, test and validate crowdsourcing approach, prepare annotated data for automatic methods, and create a basis for the work with the other parts of speech.</p>

<p>As mentioned above, important characteristics of the project are its openness and recruitment of volunteers. Our crowdsourcing approach is different, for example, from the one described in, where AMT turkers form synsets using the criterion of contextual substitutability directly. In our case, editors assemble synsets using word lists and definitions from dictionaries as &ldquo;raw material&rdquo;. Obviously, such a task implies minimal lexicographical skills and is more complicated than an average task offered to AMT workers. Our target editors are college or university students, preferably from linguistics departments, who are native Russian speakers. It is desirable that students are instructed by a university teacher and may seek their advice in complex cases. As in the case of Wikipedia and Wiktionary, we foresee two levels of contributors: line editors and administrators with the corresponding privileges. According to our expectations, the total number of line editors can reach two hundreds throughout a year.</p>

<h2>Documentation</h2>

<p>We use both XML and CSV formats to represent our import and export data. Please consult the <a href="http://nlpub.ru/YARN/Format">format specification</a> on NLPub, which is available in English.</p>

<h2>Publications</h2>

<p>The list of our publications is <%= link_to 'available', page_path(:publications) %>.</p>

<h2>Acknowledgements</h2>

<p>This work is supported by the Russian Foundation for the Humanities, project no.&nbsp;13-04-12020 &ldquo;New Open Electronic Thesaurus for Russian&rdquo;, by the Russian Foundation for Basic Research, project no.&nbsp;16-37-00354 &ldquo;Adaptive Crowdsourcing Methods for Linguistic Resources&rdquo;, and by the Mikhail Prokhorov Foundation.</p>
