<div class="row-fluid">
  <div class="span12">
    <h1>Помощь</h1>
    <p>
      Наиболее полную инструкцию по использованию портала вы можете найти тут:
      <a href='http://nlpub.ru/YARN/Инструкция'>http://nlpub.ru/YARN/Инструкция</a>.
    </p>
    <p>
      Различная техническая документация представлена на странице &laquo;<%= link_to 'Технологии', page_path(:technologies) %>&raquo;.
    </p>
    <p>
      Кроме того, ниже представлено несколько кратких видероликов, позволяющих вам быстро ознакомиться с редактором YARN.
    </p>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h2>YARN: Введение</h2>
    <iframe width="560" height="315" src="//www.youtube.com/embed/Ku05NGba3xE" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h2>YARN: Основы</h2>
    <iframe width="560" height="315" src="//www.youtube.com/embed/mHY9EN22tw8" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
