<p id="project-intro">Yet Another RussNet</p>

<div class="row-fluid">
  <div class="span8">
    <p><strong>Целью проекта</strong> является создание большого открытого
    электронного тезауруса русского языка.</p>
    <p>Работа над проектом началась в 2013 году.</p>
    <p><strong>Основная идея проекта</strong> — эксперимент по комбинированию
    традиционных принципов создания ворднетов и вики-подхода к наполнению и
    редактированию лингвистических ресурсов.</p>
  </div>

  <div class="span4 panel">
    <div class="panel-inner">
      <p>Тезаурус <strong>доступен для скачивания</strong> в формате <a href="http://russianword.net/yarn.xml">XML</a> на условиях лицензии <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC&nbsp;BY-SA</a>.</p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <p>Любой желающий может присоединиться к обсуждению проекта в
    <a href="https://groups.google.com/forum/#!forum/yarn_org">рассылке</a>
    и непосредственной работе по наполнению тезауруса. Для работы требуется
    доступ к сети Интернет и современный браузер.</p>
    <p style='text-align: center;'><%= link_to 'Начать работу', editor_path,
      class: 'btn btn-huge', id: "begin-work" %></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <hr noshade="noshade" />
    <p>Проект выполняется при финансовой поддержке грантов <a href="http://www.rfh.ru">РГНФ</a> (РФФИ) №&nbsp;13-04-12020 «Новый открытый электронный тезаурус русского языка» и №&nbsp;16-04-12019 «Интеграция тезаурусов RussNet и YARN», а также в рамках научного проекта <a href="http://www.rfbr.ru/rffi/ru/">РФФИ</a> №&nbsp;16-37-00354 мол_а «Методы автоматизации процесса коллективного построения лингвистических ресурсов». Поддержка данного проекта осуществлена в рамках благотворительной деятельности, на средства, предоставленные <a href="http://www.prokhorovfund.ru/">Фондом Михаила Прохорова</a>.</p>
  </div>
</div>
