<div class="row-fluid">
  <h1>Публикации</h1>
  <p>Braslavski P., Ustalov D., Mukhin M. <strong>A Spinning Wheel for YARN: User Interface for a Crowdsourced Thesaurus</strong> // <em>Proceedings of the Demonstrations at the 14th Conference of the European Chapter of the Association for Computational Linguistics</em>. &mdash; Gothenburg, Sweden : Association for Computational Linguistics, 2014. &mdash; P. 101–104. (<a href="http://www.aclweb.org/anthology/E/E14/E14-2026.pdf">PDF</a>, <a href="http://www.aclweb.org/anthology/E/E14/E14-2026.bib">BibTeX</a>)</p>
  <p>Браславский П. И., Мухин М. Ю., Ляшевская О. Н., Бонч-Осмоловская А. А., Крижановский А. А., Егоров П. Е. <strong>YARN: начало</strong> // <em>Труды конференции Диалог-2013</em>. (<a href="http://www.dialog-21.ru/digests/dialog2013/materials/pdf/BraslavskiyP_YARN.pdf">PDF</a>)</p>
</div>
<div class="row-fluid">
  <h1>Гранты</h1>
  <p>Проект выполняется при финансовой поддержке <a href="http://www.rfh.ru">РГНФ</a>, грант №13-04-12020 «Новый открытый электронный тезаурус русского языка».</p>
  <p>Поддержка данного проекта осуществлена в рамках благотворительной деятельности, на средства, предоставленные <a href="http://www.prokhorovfund.ru/">Фондом Михаила Прохорова</a>.</p>
</div>
<div class="row-fluid">
  <p style='text-align: center;'><%= link_to 'Начать работу', editor_path, class: 'btn btn-huge', style: 'background-color: #3D9956; color: white; text-shadow: none;' %></p>
</div>
