<div class="row-fluid">
  <h1>Цитирование</h1>
  <p>Для цитирования просим использовать следующую публикацию:</p>
  <ul><li><strong>YARN: Spinning-in-Progress</strong> / P. Braslavski, D. Ustalov, M. Mukhin, Y. Kiselev // Proceedings of the Eight Global Wordnet Conference. — Bucharest, Romania, 2016. — P. 58–65. (<a href="http://gwc2016.racai.ro/procedings.pdf#page=67">PDF</a>)</li></ul>
</div>
<div class="row-fluid">
  <h1>Публикации</h1>
  <p><strong>Fighting with the Sparsity of the Synonymy Dictionaries for Automatic Synset Induction</strong> / D. Ustalov, M. Chernoskutov, A. Panchenko, C. Biemann // Analysis of Images, Social Networks and Texts: 6th International Conference, AIST 2017, Moscow, Russia, July 27-29, 2017, Revised Selected Papers. &mdash; Cham : Springer International Publishing, 2018. &mdash; P. 94&ndash;105. (<a href="https://doi.org/10.1007/978-3-319-73013-4_9">Springer</a>, <a href="https://arxiv.org/abs/1708.09234">arXiv</a>)</p>

  <p><strong>Mnogoznal: an Unsupervised System for Word Sense Disambiguation</strong> / D. Ustalov, D. Teslenko, A. Panchenko, M. Chernoskutov // 2017 International Multi-Conference on Engineering, Computer and Information Sciences (SIBIRCON). &mdash; Novosibirsk, Russia : IEEE, 2017. &mdash; P. 147&ndash;150. (<a href="https://doi.org/10.1109/SIBIRCON.2017.8109857">IEEE</a>)</p>

  <p>Chernoskutov M., Ustalov D. <strong>Synonymy Graph Connectivity in Graph-Based Word Sense Induction</strong> // Proceedings of the 2017 Siberian Symposium on Data Science and Engineering (SSDSE). &mdash; Novosibirsk, Russia : IEEE, 2017. &mdash; P. 14&ndash;17. (<a href="https://doi.org/10.1109/SSDSE.2017.8071955">IEEE</a>)</p>

  <p>Ustalov D., Panchenko A., Biemann C. <strong>Watset: Automatic Induction of Synsets from a Graph of Synonyms</strong> // Proceedings of the 55th Annual Meeting of the Association for Computational Linguistics (Volume 1: Long Papers). &mdash; Vancouver, Canada : Association for Computational Linguistics, 2017. &mdash; P. 1579&ndash;1590. (<a href="https://10.18653/v1/P17-1145">PDF</a>)</p>

  <p>Усталов Д., Созыкин А. <strong>Комплекс программ автоматического построения семантической сети слов</strong> // Вестник ЮУрГУ. Серия: Вычислительная математика и информатика. &mdash; 2017. &mdash; Т. 6, № 2. &mdash; С. 69&ndash;83. (<a href="https://doi.org/10.14529/cmse170205">DOI</a>)</p>

  <p>Усталов Д. <strong>Семантические сети и обработка естественного языка</strong> // Открытые системы. СУБД. &mdash; 2017. &mdash; № 2. &mdash; С. 46&ndash;47. (<a href="https://www.osp.ru/os/2017/02/13052229/">HTML</a>)</p>

  <p>Ustalov D. <strong>Expanding Hierarchical Contexts for Constructing a Semantic Word Network</strong> // Computational Linguistics and Intellectual Technologies: Papers from the Annual conference “Dialogue”. Volume 1 of 2. Computational Linguistics: Practical Applications. &mdash; Moscow : RSUH, 2017. &mdash; P. 369&ndash;381. (<a href="http://www.dialog-21.ru/media/3959/ustalovda.pdf">PDF</a>)</p>

  <p>Усталов Д. <strong>Обнаружение понятий в графе синонимов</strong> // Вычислительные технологии. &mdash; 2017. &mdash; Т. 22, Спецвып. 1. &mdash; С. 99&ndash;112. (<a href="http://www.ict.nsc.ru/jct/content/t22n7/Ustalov_n.pdf">PDF</a>)</p>

  <p><strong>Negative Sampling Improves Hypernymy Extraction Based on Projection Learning</strong> / D. Ustalov, N. Arefyev, C. Biemann, A. Panchenko // Proceedings of the 15th Conference of the European Chapter of the Association for Computational Linguistics: Volume 2, Short Papers. &mdash; Valencia, Spain : Association for Computational Linguistics, 2017. &mdash; P. 543&ndash;550. (<a href="https://doi.org/10.18653/v1/E17-2087">PDF</a>)</p>

  <p><strong>YARN: Spinning-in-Progress</strong> / P. Braslavski, D. Ustalov, M. Mukhin, Y. Kiselev // Proceedings of the Eight Global Wordnet Conference. &mdash; Bucharest, Romania, 2016. &mdash; P. 58&ndash;65. (<a href="http://gwc2016.racai.ro/procedings.pdf#page=67">PDF</a>)</p>

  <p>Kiselev Y., Ustalov D., Porshnev S. <strong>Eliminating Fuzzy Duplicates in Crowdsourced Lexical Resources</strong> // Proceedings of the Eight Global Wordnet Conference. &mdash; Bucharest, Romania, 2016. &mdash; P. 161&ndash;167. (<a href="http://gwc2016.racai.ro/procedings.pdf#page=170">PDF</a>)</p>

  <p>Усталов Д. <strong>Коллективные потоковые вычисления: реляционные модели и алгоритмы</strong> // Моделирование и анализ информационных систем. &mdash; 2016. &mdash; Т. 23, № 2. &mdash; С. 195&ndash;210. (<a href="https://doi.org/10.18255/1818-1015-2016-2-195-210">DOI</a>)</p>

  <p><strong>Интеграция ресурсов RussNet и YARN</strong> / И. В. Азарова, П. И. Браславский, В. П. Захаров и др. // Компьютерная лингвистика и вычислительные онтологии: сборник научных статей. Труды XIX Международной объединённой научной конференции «Интернет и современное общество» (IMS-2016), Санкт-Петербург, 22&ndash;24 июня 2016 г. &mdash; СПб : Университет ИТМО, 2016. &mdash; С. 7&ndash;13. (<a href="http://openbooks.ifmo.ru/ru/collections_article/4100/integraciya_tezaurusov_RussNet_i_YARN.html">OpenBooks</a>)</p>

  <p>Ustalov D., Igushkin S. <strong>Sense Inventory Alignment Using Lexical Substitutions and Crowdsourcing</strong> // 2016 International FRUCT Conference on Intelligence, Social Media and Web (ISMW FRUCT). &mdash; IEEE, 2016. &mdash; P. 56&ndash;61. (<a href="https://fruct.org/publications/ISMW-FRUCT-2016/files/Ust.pdf">PDF</a>)</p>

  <p>Ustalov D. <strong>Joining Dictionaries and Word Embeddings for Ontology Induction</strong> // Proceedings of the Open Conference of the ISPRAS (Труды первой научно-практической Открытой конференции ИСП РАН). &mdash; М. : ИСП РАН, 2016. &mdash; P. 381&ndash;388. (<a href="http://www.isprasopen.ru/files/conference.pdf">PDF</a>)</p>

  <p>Ustalov D. <strong>Crowdsourcing Synset Relations with Genus-Species-Match</strong> // Proceedings of the AINL-ISMW FRUCT. &mdash; 2015. &mdash; P. 118&ndash;124. (<a href="http://www.fruct.org/publications/ainl-fruct/files/Ust.pdf">PDF</a>)</p>

  <p>Ustalov D., Kiselev Y. <strong>Add-Remove-Confirm: Crowdsourcing Synset Cleansing</strong> // Application of Information and Communication Technologies (AICT), 2015 IEEE 9th International Conference on. &mdash; IEEE, 2015. &mdash; P. 143&ndash;147. (<a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=7338534">IEEE</a>)</p>

  <p>Киселёв Ю., Поршнев С., Мухин М. Ю. <strong>Современное состояние электронных тезаурусов русского языка: качество, полнота и доступность</strong> // Программная инженерия. &mdash; 2015. &mdash; № 6. &mdash; С. 34&ndash;40.</p>

  <p>Ustalov D. <strong>A Crowdsourcing Engine for Mechanized Labor</strong> // Proceedings of the Institute for System Programming. &mdash;  2015. &mdash;  Vol. 27, № 3. &mdash;  P. 351&ndash;364. (<a href="https://doi.org/10.15514/ISPRAS-2015-27%283%29-25">DOI</a>)</p>

  <p><strong>Russian Lexicographic Landscape: a Tale of 12 Dictionaries</strong> / Y. Kiselev, A. Krizhanovsky, P. Braslavski et al. // Computational Linguistics and Intellectual Technologies: papers from the Annual conference “Dialogue”. &mdash;  Moscow : RGGU, 2015. &mdash;  Vol. 1. &mdash;  P. 254&ndash;271. (<a href="http://www.dialog-21.ru/digests/dialog2015/materials/pdf/KiselevYABraslavskiPIetal.pdf">PDF</a>)</p>

  <p>Ustalov D. <strong>Russian Thesauri as Linked Open Data</strong> // Computational Linguistics and Intellectual Technologies: papers from the Annual conference “Dialogue”. &mdash; Moscow : RGGU, 2015. &mdash; Vol. 1. &mdash; P. 616&ndash;625. (<a href="http://www.dialog-21.ru/digests/dialog2015/materials/pdf/UstalovDA.pdf">PDF</a>)</p>

  <p>Ustalov D. <strong>Enhancing Russian Wordnets Using the Force of the Crowd</strong> // Analysis of Images, Social Networks and Texts. &mdash; Springer International Publishing, 2014. &mdash; Vol. 436 of Communications in Computer and Information Science. &mdash; P. 257&ndash;264. (<a href="http://link.springer.com/chapter/10.1007/978-3-319-12580-0_27">Springer</a>)</p>

  <p>Ustalov D. <strong>Words Worth Attention: Predicting Words of the Week on the Russian Wiktionary</strong> // Knowledge Engineering and the Semantic Web. &mdash; Springer International Publishing, 2014. &mdash; Vol. 468 of Communications in Computer and Information Science. &mdash; P. 196&ndash;207. (<a href="https://doi.org/10.1007/978-3-319-11716-4_17">Springer</a>)</p>

  <p>Sabirova K., Lukanin A. <strong>Automatic Extraction of Hypernyms and Hyponyms from Russian Texts</strong> // Supplementary Proceedings of the 3rd International Conference on Analysis of Images, Social Networks and Texts (AIST'2014). &mdash; Vol. 1197. &mdash; Yekaterinburg, Russia : CEUR-WS.org, 2014. &mdash; P. 35&ndash;40. (<a href="http://ceur-ws.org/Vol-1197/paper6.pdf">PDF</a>)</p>

  <p>Усталов Д. <strong>Автоматическая генерация заданий для краудсорсингового тезауруса</strong> // Четырнадцатая национальная конференция по искусственному интеллекту с международным участием КИИ-2014 (24&ndash;27 сентября 2014 г., г. Казань, Россия): Труды конференции.&mdash; Т. 3.&mdash; Казань : Изд-во РИЦ «Школа», 2014. &mdash; С. 237&ndash;242.</p>

  <p>Усталов Д. А., Блинов П. А., Черноскутов М. А. <strong>Очистка текстов на естественном языке с использованием Apache Spark</strong> // Научный сервис в сети Интернет: многообразие суперкомпьютерных миров: Труды Международной суперкомпьютерной конференции (22&ndash;27 сентября 2014 г., г. Новороссийск). &mdash; М. : Изд-во МГУ, 2014. &mdash; С. 218&ndash;220.</p>

  <p>Braslavski P., Ustalov D., Mukhin M. <strong>A Spinning Wheel for YARN: User Interface for a Crowdsourced Thesaurus</strong> // Proceedings of the Demonstrations at the 14th Conference of the European Chapter of the Association for Computational Linguistics. &mdash; Gothenburg, Sweden : Association for Computational Linguistics, 2014. &mdash; P. 101&ndash;104. (<a href="https://aclweb.org/anthology/E/E14/E14-2026.pdf">PDF</a>, <a href="https://aclweb.org/anthology/E/E14/E14-2026.bib">BibTeX</a>)</p>

  <p>Браславский П. И., Мухин М. Ю., Ляшевская О. Н., Бонч-Осмоловская А. А., Крижановский А. А., Егоров П. <strong>YARN: начало</strong>. Труды конференции Диалог-2013. (<a href="http://www.dialog-21.ru/digests/dialog2013/materials/pdf/BraslavskiyP_YARN.pdf">PDF</a>)</p>
</div>
<div class="row-fluid">
  <h1>Гранты</h1>
  <p>Проект выполняется при финансовой поддержке <a href="http://www.rfh.ru">РГНФ</a>, грант №&nbsp;13-04-12020 «Новый открытый электронный тезаурус русского языка» и №&nbsp;16-04-12019 «Интеграция тезаурусов RussNet и YARN».</p>
  <p>Поддержка данного проекта осуществлена в рамках благотворительной деятельности, на средства, предоставленные <a href="http://www.prokhorovfund.ru/">Фондом Михаила Прохорова</a>.</p>
  <p>Исследование выполнено при финансовой поддержке <a href="http://www.rfbr.ru/rffi/ru/">РФФИ</a> в рамках научного проекта №&nbsp;16-37-00354 мол_а «Методы автоматизации процесса коллективного построения лингвистических ресурсов».</p>
</div>
<div class="row-fluid">
  <p style='text-align: center;'><%= link_to 'Начать работу', editor_path, class: 'btn btn-huge', style: 'background-color: #3D9956; color: white; text-shadow: none;' %></p>
</div>
