<div class="row-fluid">
  <div class="span12">
    <h1>Интеграция ресурсов RussNet и YARN</h1>
    <p>
      Задача проекта &mdash; интеграция гетерогенных лексикографических данных. <a href="http://project.phil.spbu.ru/RussNet/index_ru.shtml">RussNet</a> построен путём традиционного лексикографического подхода, <a href="/">YARN</a> создан путём краудсорсинга с дополнительным применением автоматических методов построения тезаурусов. Интеграция включает в себя согласование концептуальных оснований двух ресурсов, схем данных, разработку автоматических методов выравнивания и сравнения единиц тезаурусов; методики, сценариев и инструментов редактирования и пополнения объединенного ресурса.
    </p>
    <p>
      Исследование выполняется при финансовой поддержке <a href="http://www.rfh.ru/index.php/ru/">РГНФ</a> в рамках проекта №&nbsp;16-04-12019. Описание результатов работы за 2016 год представлено в разделе «<%= link_to 'Новости', posts_url %>».
    </p>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <h1>Публикации</h1>
    <p>
      Полный список публикаций представлен на странице <a href="https://nlpub.ru/YARN">https://nlpub.ru/YARN</a>. Краткое описание целей и задач проекта интеграции ресурсов представлено в следующей работе:
    </p>
    <ul>
      <li><a href="http://openbooks.ifmo.ru/ru/collections_article/4100/integraciya_tezaurusov_RussNet_i_YARN.html">Интеграция ресурсов RussNet и YARN</a> / И. В. Азарова, П. И. Браславский, В. П. Захаров и др. // Компьютерная лингвистика и вычислительные онтологии: сборник научных статей. Труды XIX Международной объединённой научной конференции «Интернет и современное общество» (IMS-2016), Санкт-Петербург, 22&ndash;24 июня 2016 г. &mdash; СПб : Университет ИТМО, 2016. &mdash; С. 7&ndash;13.</li>
    </ul>
  </div>
</div>
