<div class="row-fluid">
  <h1>Участники проекта</h1>
  <p>В списке представлены участники проекта, перечисленные в алфавитном порядке.</p>
  <ul>
    <li><a href="http://kansas.ru/pb/">Павел Браславский</a></li>
    <li><a href="http://iitp.ru/ru/users/342.htm">Вячеслав Диконов</a></li>
    <li><a href="http://xoposhiy.livejournal.com/">Павел Егоров</a></li>
    <li>Юрий Киселёв</li>
    <li><a href="http://whinger.krc.karelia.ru/">Андрей Крижановский</a></li>
    <li><a href="https://github.com/unkmas/">Илья Меньшиков</a></li>
    <li>Михаил Мухин</li>
    <li>Маргарита Панишева</li>
    <li><a href="https://www.linkedin.com/in/ustalov/">Дмитрий Усталов</a></li>
  </ul>
  <p>Команда проекта выражает благодарность всем, кто принял участие в работе над <%= link_to 'материалами', page_path(:data) %> тезауруса.</p>
</div>
