var words = $('#words');
words.empty();

<% if @words.empty? -%>
  words.append($('<li>Запрос &laquo;<%= params[:q] %>&raquo; не дал результатов.</li>'));
<% end -%>

<% @words.each do |word| -%>
  <% e = '<li>%s</li>' % link_to(word, editor_word_url(word_id: word), remote: true) -%>
  words.append($('<%= e.html_safe %>'));
<% end -%>
