var synonymes = $('#synonymes');
synonymes.empty();

<% if @synonymes.empty? -%>
  synonymes.append($('<li>Синонимов не найдено.</li>'));
<% end -%>

<% @synonymes.each do |synonym, definitions| -%>
  var node = $('<li>');
  node.append('<%= synonym %>');
  node.append($('<%= link_to('В синсет', editor_append_word_url(word_id: synonym), remote: true, class: %w(button tiny)) %>'))
  var list = $('<ul>');
  <% definitions.each do |definition| -%>
    var subnode = $('<li>');
    subnode.append('<%= definition %>');
    subnode.append($('<%= link_to('В синсет', editor_append_definition_url(definition_id: definition), remote: true, class: %w(button tiny)) %>'))
    list.append(subnode);
  <% end -%>
  node.append(list);
  synonymes.append(node);
<% end -%>
