<% if word.synset_words.size > 0 %>
  <h3>Связанные синсеты <span class="badge"><%= word.synset_words.size %></span></h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Синсет</th>
    </tr>

    <% word.synsets.where(deleted_at: nil).each do |synset| %>
      <tr>
        <td>
          <% if (words = synset_words(synset)).empty? %>
            <%= link_to synset.id, synset_path(synset) %>
          <% else %>
            <%= link_to synset.id, synset_path(synset) %>: <%= words %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Ещё нет ни одного связанного синсета.</p>
<% end %>

