<%= heading_with_title "Слова по запросу #{ params[:q]}" %>

<% if @words.present? %>
  <ul>
    <% @words.each do |word| %>
      <li><%= link_to word.word, word_path(word) %></li>
    <% end %>
  </ul>

  <%= paginate @words %>
<% else %>
  <p>Слова не найдены.</p>
<% end %>