<h1>Синсеты</h1>

<ul class="triple-columns">
  <% @synsets.each do |synset| %>
    <li>
      <%= link_to synset.id, synset_path(synset) %>
      <%= synset_words(synset) %>
    </li>
  <% end %>
</ul>

<%= paginate @synsets %>