<div class="span6 panel" id="left-pane">
  <div class="row-fluid">
    <div class="span11" id="right-column">
      <div class="panel-inner">
        <section>
          <h3>Определения слова &laquo;<span>Жизнь</span>&raquo;</h3>
          
          <div id="word-definitions-placeholder"></div>
        </section>

        <section>
          <h3>Синонимы</h3>
          <div id="synonymes-placeholder"></div>
        </section>

      </div>
    </div>
    <div class="span1" id="add-to-current-synset">
      <div id="add-to-current-synset-btn" class="disabled" title="Добавить определение в текущий синсет">&nbsp;</div>
    </div>
  </div>
</div>
