<script id="listing-tpl" type="text/html">
  <div class="listing definitions">
    <ul>
      {{#definitions}}
        <li data-id="{{id}}" data-word="{{word}}" data-word-id="{{word_id}}">{{text}}<span><i title="Скрыть определение" class="icon icon-eye-close"></i></span>
          <br>
          <small class="sample">
              <strong>Пример(ы) употребления:</strong> {{^samples}} нет примеров {{/samples}}
              <ul>
                {{#samples}}
                  <li> {{.}} </li>
                {{/samples}}
              </ul>
          </small>
        </li>

      {{/definitions}}
    </ul>
  </div>
</script>

<script id="synsets-tpl" type="text/html">
  <div class="listing listing-synsets">
    <ul>
      {{#synsets}}
        <li data-id="{{id}}"><strong>{{text}}</strong><span>{{first_definition}}</span></li>
      {{/synsets}}
    </ul>
  </div>
</script>

<script id="selected-synset-tpl" type="text/html">
  <strong>{{text}}</strong><span>{{first_definition}}</span>
</script>

<script id="accordion-tpl" type="text/html">
  <div class="accordion" id="synonymes">
    {{#synonymes}}
      <!-- {{#count}}{{/count}} -->
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#synonymes" href="#collapse-{{word_id}}">
            {{#hasDefinitions}}
              {{#expandFirst}}<i class="icon icon-caret-down"></i>{{/expandFirst}}
              {{^expandFirst}}<i class="icon icon-caret-right"></i>{{/expandFirst}}
              &nbsp;
            {{/hasDefinitions}}

            {{word}}

            <span class="add-word" title="Добавить слово в текущий синсет" data-word="{{word}}" data-word-id="{{word_id}}" >
              <i class="icon icon-plus-sign-alt"></i>
            </span>
          </a>
        </div>
        {{#hasDefinitions}}
          <div id="collapse-{{word_id}}" class="accordion-body collapse {{#expandFirst}}in{{/expandFirst}}">
            <div class="accordion-inner">
              {{>definitions}}
            </div>
          </div>
        {{/hasDefinitions}}
      </div>
    {{/synonymes}}
  </div>
  <div>
    <a href="#" id="add-synonym" class="dashed-link"><small><i class="icon icon-plus-sign"></i></small>&nbsp;Добавить синоним</a>
  </div>
</script>

<script id="current-synset-tpl" type="text/html">
  <div id="current-synset">
    <div class="accordion" id="synset-words">
      {{#words}}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#synonymes" href="#">

              {{word}}

              <span class="pull-right synset_word" data-id="{{id}}" data-synset-word-id="{{synset_word_id}}">
                <i title="Удалить" class="icon icon-remove"></i>
                <i title="Сделать первым" class="icon icon-flag"></i>
              </span>
            </a>
          </div>
        </div>
      {{/words}}
    </div>
    <section>
      <div>
        <ol>
          {{#definitions}}
            <li data-id="{{id}}" data-word="{{word}}">
              <span>{{text}}</span>
              <i title="Добавить новое определение на основе этого" class="icon icon-copy"></i>
              <i title="Удалить" class="icon icon-remove"></i>
              <i title="Сделать первым" class="icon icon-flag definition"></i>
            </li>
          {{/definitions}}
        </ol>
      </div>

      <div>
        <a href="#add-definition-modal" data-toggle="modal" class="dashed-link"><small><i class="icon icon-plus-sign"></i></small>&nbsp;Добавить определение</a>
      </div>
    </section>
  </div>
</script>

<script id="word-tpl" type="text/html">
  <div data-id="{{id}}">
    <span title="Добавить в текущий синсет">{{word}}</span>
    <i title="Удалить" class="icon icon-remove"></i>
  </div>
</script>

<script id="definition-tpl" type="text/html">
  <li data-id="{{id}}">
    {{text}}
    <i title="Удалить" class="icon icon-remove"></i>
  </li>
</script>
