<div class="span6 panel" id="right-pane">
  <div class="panel-inner">
    <section>
      <h3>Синсеты со словом &laquo;<span class="current-word"></span>&raquo;</h3>
      <div class="listing">
        <ul>
          <li>Word definition Word definition Word definition Word definition Word definition Word definition #1</li>
          <li>Word definition Word definition Word definition Word definition Word definition Word definition #2</li>
        </ul>
      </div>

      <div>
        <a href="#" class="dashed-link"><small><i class="icon icon-plus-sign"></i></small>&nbsp;Добавить синсет</a>
      </div>

    </section>
    <section id="current-synset">
      <h3>Текущий синсет</h3>
      <p>Нажимайте на слова и определения, чтобы добавить их в текущий синсет.</p>

      <div id="current-words" data-words=""></div>

      <div>
        <ol></ol>
      </div>

      <div>
        <a href="#" class="dashed-link"><small><i class="icon icon-plus-sign"></i></small>&nbsp;Добавить своё определение</a>
      </div>

      <div id="done-current-synset-btn">
        <button class="btn disabled">Синсет готов</button>
      </div>
    </section>
  </div>
</div>
