<div id="searchbar">
  <div id="word-search">
    <%= select_tag "word", options_from_collection_for_select(words, "id", "word"), :style => 'width: 300px;' %>
  </div>
  <div id="spinner"></div>
</div>
