<div id="searchbar">
  <div id="word-search">
    <div style="display: inline-block"><%= select_tag "word", options_from_collection_for_select(words, "id", "word"), :style => 'width: 200px;' %></div>
    <a href="" class="btn disabled">Готово</a>
  </div>
</div>
