<div id="searchbar">
  <div id="word-search">
    <div style="display: inline-block">
      <span id="picked-word">&laquo;<span class="current-word"></span>&raquo;</span>
    </div>
    <a href="#" id="pick-word" class="btn">Выбрать слово</a>
  </div>
</div>
