<div class="word-picker-listing">
  <ul>
    <% words.each do |word| %>
      <li data-id="<%= word.id %>"><span><%= word.word %></span></li>
    <% end %>
  </ul>
</div>

<%= paginate words, :window => 5 %>
