// Project variables
$bgcolor: #F0F0F0;
$base-blue: #38B2E5;
$base-gray: #5F6774;
$logo-size: 110px;
$logo-padding: 15px;

// Bootstrap variables
$linkColor: shade($base-blue, 10%);
$linkColorHover: $base-blue;

@import "bootstrap";
@import "bootstrap-responsive";
@import 'font-awesome';
@import "normalize";
@import "compass";
@import "compass/css3/transition";
@import "compass/layout/sticky-footer";
@import "compass/typography/lists/bullets";
@import "ceaser-easing";
@import "editor";
@import "nprogress";
@import "nprogress-bootstrap";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Courgette);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);

// Layout
body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul {
  @include no-bullets;
}

a {
  &:hover {
    text-decoration: none;
    @include single-transition(color, 0.3s, ceaser($easeInOutExpo), 0);
  }
}

.panel {
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.10));
  @include border-radius(3px);

  .panel-inner {
    padding: 10px;
  }
}

#search {
  position: relative;
  margin: 45px 0 20px;

  input {
    @include box-sizing(border-box);
    width: 100%;
    line-height: 30px;
    height: 30px;
  }

  button {
    position: absolute;
    right: 0;
    border: 0;
    background: none;
    top: 1px;
  }
}

ul.triple-columns {
  overflow: hidden;
  margin: 0;
  padding: 0;

  li {
    float: left;
    display: inline;
    width: 33.333%;
    line-height: 20px;
  }
}

.yarn-logo {
  text-align: center;
  height: 140px;

  a {
    @include border-radius(50%);
    background-color: $base-gray;
    width: $logo-size;
    height: $logo-size;
    padding: $logo-padding;
    vertical-align: middle;
    line-height: $logo-size;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin-top: 0;
    font-family: 'Courgette', 'Times New Roman';
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      @include single-transition(all, 0.2s, ceaser($easeInOutExpo), 0);
      padding: $logo-padding + 10px;
      margin-top: -($logo-padding/2);
      font-size: 140%;
      background-color: $base-blue;
    }
  }
}

body {
  @include sticky-footer(60px, "main", "#footer-gap", "#footer");
  background: $bgcolor asset-url("body_bg.gif");
  font-family: 'PT Sans Narrow', Arial;
  font-size: 100%;

  #project-intro {
    @include text-shadow(0 1px 1px #fff);
    font-family: 'PT Sans Narrow', 'Arial Narrow', Arial;
    font-size: 160%;
    line-height: 28px;
    padding: 13px 0 33px 0;
    color: #333;
    text-align: center;
  }

  main {
    @extend .container;
    position: relative;

    #userbar {
      position: absolute;
      right: 4px;
      top: 4px;
      color: #555;
      font-size: 90%;

      a, span {
        display: inline-block;
        margin-left: 15px;
      }
    }

    #main-content {
      margin-top: 30px;
    }

    article {
      @extend .panel;
      padding: 20px;
      background-color: #fff;
      min-height: 600px;

      a {
        @include background-image(linear-gradient(left, rgba(0, 96, 192, 0.25), rgba(0, 96, 192, 0.25) 100%));
        background-position: 0 95%;
        background-size: 10px 1px;
        background-repeat: repeat-x;

        &.btn, &.no-underline {
          @include background-image(none);
        }
      }

      .panel {
        background: $bgcolor;
        min-height: 150px;
        color: #666;

        h3 {
          line-height: 24px;
          margin-top: 0;
        }

        ul {
          margin: 0;
          padding: 0;
        }
      }

      // Pagination
      nav.pagination {
        .page.gap {
          float: left;
          padding: 4px 12px;
          line-height: 20px;
          background-color: white;
          border: 1px solid #dddddd;
          border-left-width: 0;
        }

        li a {
          @include background-image(none);
        }
      }

      // Definition lists
      dl {
        border-bottom: 1px solid #eee;
        overflow: hidden;

        dd {
          border-top: 1px solid #eee;
          margin-left: 130px;
          padding: 5px;

          p {
            margin: 0 0 0.3em 0;
            font-size: 13px !important;
          }
        }

        dt {
          clear: left;
          float: left;
          width: 120px;
          margin: 0;
          padding: 5px;
          border-top: 1px solid #eee;
          font-weight: bold;
        }
      }

      .panel dl {
        border-bottom: 1px solid #fff;
        dd, dt { border-top: 1px solid #fff; }
      }
    }
  }

  aside#sidebar {
    .nav > li > a {
      @include border-radius(3px);
      font-size: 120%;
      padding: 7px 15px
    }

    #editor-btn {
      text-align: center;
      margin-top: 30px;

      a {
        display: inline-block;
      }
    }
  }

  #footer {
    .container {
      text-align: right;
      padding-right: 30px;
    }
  }
}

///////////////////////////////////////////////////////////////////
// Styles for flash messages
ul#flash-messages {
  @include border-radius(0 0 7px 7px);
  @include single-box-shadow(#000, 1px, 1px, 10px, 1px);
  @include opacity(0.8);
  z-index: 66000;
  font-family: 'Ubuntu Condensed', Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  background: #333;
  list-style: none;

  li {
    margin: 0 25px;
    padding: 25px;
    color: #fff;
    font-size: 120%;
    position: relative;
    text-align: center;

    &#flash-alert {
      background: asset-url("icons/32x32/alert.png") no-repeat 0 50%;
    }

    &#flash-notice {
      background: asset-url("icons/32x32/notice.png") no-repeat 0 50%;
    }

    a {
      color: #fff;
      display: inline-block;
      font-family: Arial, sans-serif;
      font-size: 200%;
      left: 625px;
      top: 20px;
      padding: 5px;
      position: absolute;
      text-decoration: none;

      &:hover {
        color: maroon;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////
// Badges & labels
h1 .badge,
h2 .badge,
h3 .badge,
h4 .badge,
h5 .badge,
h6 .badge {
  @include border-radius(16px);
  @include inline-block;
  font-size: 16.152px;
  line-height: 20px;
  vertical-align: middle;
  margin-left: 5px;
  background: $base-gray;
}

h2 .badge { font-size: 13.152px; line-height: 18px; }
h3 .badge { font-size: 12px; line-height: 16px; }
h4 .badge { font-size: 11px; line-height: 14px;  margin-left: 7px; }
h5 .badge { font-size: 10px; line-height: 12px; margin-left: 5px; }
h6 .badge { font-size: 9px; line-height: 10px; margin-left: 5px; }
