.word-picker-modal, .synonym-picker-modal {
  width: 400px; 
  margin-left: -200px !important; 

  .modal-body {
    max-height: 600px;

    #search { margin: 0 0 15px 0; }

    .word-picker-listing {
      height: 250px;
      border: 1px inset #ddd;
      overflow: auto;
      background: #fff;
      @include border-radius(3px);
      @include box-shadow(inset 0 0 16px -6px #000);
      @include user-select(none);

      ul {
        overflow: hidden;
        margin: 0;
        padding: 0;

        li {
          display: block;
          padding: 3px 10px;
          font-size: 20px;

          &:hover, &.active {
            cursor: pointer;
            background: $base-blue;
            color: #fff;
          }

          &.inactive {
            background: #eee;
            color: #999;
          }
        }
      }
    }

    .pagination {
      margin: 15px 0 0 0;
      text-align: center;

      ul > li > a:hover,
      ul > li > a:focus, 
      ul > .active > a,
      ul > .active > span {
        background-color: $base-blue;
        color: #fff;
      }
    }
  }
}

#marks-picker {
  width: 240px;
  margin-left: 20px !important;
  margin-top: 190px !important;

  .selected {
    background: #999999;
    
    a:hover, a:focus {
      background: #999999;
    }
  }
}

#editor-bar {
  min-height: auto;
  padding: 10px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9;
  background: $bgcolor;

  h2 {
    font-size: 27px;
    line-height: 27px;
    margin: 0;
    color: #555;
    float: left;
  }

  .yarn-logo {
    height: 24px;
    top: 0px;
    left: -12px;
    z-index: 10;
    margin: 0;

    a {
      width: 24px;
      height: 24px;
      font-size: 46%;
      padding: 10px 13px 10px 7px;
      line-height: 24px;

      &:hover {
        padding: 10px 13px 10px 7px;
        margin: 0;
        font-size: 46%;
      }
    }

    &:hover {
      left: 20px;
    }
  }

  #searchbar {
    #word-search {
      width: 180px;
      margin: 0 auto;
      display: none;
      position: relative;
    }

    #picked-word {
      display: inline-block;
    }

    #current-word-wrapper {
      padding: 0 10px;
      margin: 0 10px 0 0;
      line-height: 30px;
      background: $base-gray;
      color: #fff;
      font-weight: bold;
      @include border-radius(15px);
      text-align: center;
    }

    #searchbar-buttons {
      top: 0;
      right: -160px;
      position: absolute;
    }
  }
}

#editor-ui {
  position:relative;
  @include user-select(none);
  cursor: default;

  #editor-area { display: none; }

  h3 {
    line-height: 20px;
    font-size: 19px;
    position: relative;

    a {
      position: absolute;
      right: 0;
      font-size: 16px;

      small { color: $linkColor; }
      &:hover, &:focus {
        small { color: $linkColorHover; }
      }

      &#expand-hidden { display: none; }
    }
  }

  section {
    margin: 0 0 30px 0;
  }

  i.icon {
    cursor: pointer;

    &:hover {
      color: maroon;
    }
  }

  .listing {
    height: 250px;
    border: 1px inset #ddd;
    overflow: auto;
    background: #fff;
    @include border-radius(3px);
    @include box-shadow(inset 0 0 16px -6px #000);

    ul {
      padding: 1px;

      li {
        padding: 3px;
        font-size: 90%;

        &:nth-child(even) { background-color: #f9f9f9; }

        &:hover, &.active {
          cursor: pointer;
          background: $base-blue;
          color: #fff;
        }

        &.inactive {
          background: #eee;
          color: #999;
        }
      }
    }
  }

  .definitions {
    ul {
      li {
        position: relative;
        padding-right: 30px;

        span {
          position: absolute;
          top: 3px;
          right: 5px;
          height: 100%;
          visibility: hidden;

          i.icon {
            &:hover {
              color: maroon;
            }
          }
        }

        &:hover span {
          visibility: visible;
        }
      }
    }
  }

  .hidden-samples {
    .sample {
      display: none;
    }
  }

  .listing-synsets {
    height: auto;
    max-height: 100px;
    min-height: 50px;

    ul {
      li {
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal; /* IE */ 
        text-overflow: ellipsis;

        &:hover, &.active {
          background: #FFF9CD;
          color: #222;
        }

        &.approved, &.closed {
          background: #dedede !important; // cause of :hover, :even e.t.c.
          color: #666 !important;
        }

        strong { font-size: 110%; margin: 0 7px 0 0; }
      }
    }
  }

  #action-pane {
    padding: 10px 0;
    margin: 20px 0 0 0;
    min-height: auto;

    .panel {
      min-height: auto;
    }

    button {
      width: 100px;
      font-size: 130%;
      margin: 0 auto;
      display: block;
      padding: 10px;
    }
  }

  #current-word {
    color: white;
    background-color: $base-gray;
  }

  .dashed-link {
    border-bottom: 1px dashed rgba(0, 96, 192, 0.25);
    @include background-image(none);
  }

  #add-to-current-synset {
    overflow: hidden;
    height: 100%;

    #add-to-current-synset-btn {
      cursor: pointer;
      height: 600px;
      background: #FFF9CD asset-url("add-icon.png") no-repeat 50% 50%;

      &.disabled {
        cursor: default;
        background: none;
      }
    }
  }

  // Synonymes
  .accordion-heading {
    a {
      font-weight: bold;
      font-size: 110%;
      color: #666;
      @include background-image(none);
      background-color: #dedede;
    }

    .accordion-toggle {
      padding: 3px 10px;
    }

    .add-word {
      @extend .pull-right;
      visibility: hidden;

      &:hover {
        color: $base-blue;
      }
    }

    &:hover {
      .add-word { visibility: visible; }
    }
  }

  .accordion-inner {
    padding: 1px;
  }

  // Synsets

  // Current synset
  #current-synset {
    margin: 0 -10px;
    padding: 10px;
    //display: none;

    &.active {
      background: #FFF9CD;
    }

    section {
      background: #dedede;
    }

    #marks {
      margin-left: 10px;
      .mark {
        background: #eee;
        padding: 3px;
        margin-top: -3px;
        @include border-radius(3px);
        @include inline-block;
      }
    }

    // Current words as tags
    #current-words {
      padding: 0 3px 3px 3px;
      margin-bottom: 10px;
      min-height: 29px;

      &.active {
        background: #FFF9CD;
      }

      div {
        background: #eee;
        font-size: 110%;
        padding: 3px;
        margin: 3px 3px 0 0;
        @include border-radius(3px);
        @include inline-block;
      }
    }
  }

  // Add definition form
  #add-definition-form {
    &.form-horizontal {
      .controls {
        margin-left: 70px;
      }

      .control-label {
        width: 50px;
      }

      textarea, input[type=text] { width: 440px; }
      textarea { height: 150px; }
    }
  }
}

.p5 { padding: 5px }
