//= require foundation_and_overrides
//= require_tree .

@media only screen {
  h1 { text-align: center; }
}

@media only screen and (min-width: 48em) {
  /*nav { margin-top: 1em; }*/
  h1 { text-align: left; }
}

a {
  text-decoration: underline;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.after-space {
  margin-bottom: 1.25em;
}

ul {
  list-style-position: inside;
}

.highlight {
  background-color: #2ba6cb;
}
