//= require foundation_and_overrides
//= require_tree .

a {
  text-decoration: underline;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.after-space {
  margin-bottom: 1.25em;
}

ul {
  list-style-position: inside;
}

.highlight {
  background-color: #2ba6cb;
}
