#editor-ui {
  position:relative;
  @include user-select(none);
  cursor: default;

  #editor-area { display: none; }

  h3 {
    line-height: 20px;
    font-size: 19px;
  }

  .yarn-logo {
    height: 60px;
    position: absolute;
    top: -26px;
    left: -56px;

    a {
      width: 50px;
      height: 50px;
      font-size: 60%;
      padding: 10px;
      line-height: 54px;

      &:hover {
        padding: 10 + 7px;
        margin-top: -(10/2);
        font-size: 80%;
      }
    }

    &:hover {
      @include single-transition(all, 0.2s, ceaser($easeInOutExpo), 0);
      left: -62px;
    }
  }

  section {
    margin: 0 0 30px 0;
  }

  #searchbar {
    min-height: auto;
    padding: 15px;
    margin-bottom: 20px;

    #word-search {
      width: 300px;
      margin: 0 auto;
    }
  }

  #spinner {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 22px;
    right: 20px;
    background: asset-url("select2-spinner.gif", image) no-repeat 50% 50%;
    display: none;
  }

  i.icon-remove {
    cursor: pointer;
    margin-left: 3px;

    &:hover {
      color: maroon;
    }
  }

  .listing {
    height: 250px;
    border: 1px inset #ddd;
    overflow: auto;
    background: #fff;
    @include border-radius(3px);
    @include box-shadow(inset 0 0 16px -6px #000);

    ul {
      padding: 1px;

      li {
        padding: 3px;
        font-size: 90%;

        &:nth-child(even) { background-color: #f9f9f9; }

        &:hover, &.active {
          cursor: pointer;
          background: $base-blue;
          color: #fff;
        }

        &.inactive {
          background: #eee;
          color: #999;
        }
      }
    }
  }

  .listing-synsets {
    ul {
      li {
        &:hover, &.active {
          background: #FFF9CD;
          color: #222;
        }
      }
    }
  }

  #action-pane {
    padding: 10px 0;
    margin: 20px 0 0 0;

    .panel {
      min-height: auto;
    }

    button {
      width: 100px;
      font-size: 130%;
      margin: 0 auto;
      display: block;
      padding: 10px;
    }
  }

  .dashed-link {
    border-bottom: 1px dashed rgba(0, 96, 192, 0.25);
    @include background-image(none);
  }

  #add-to-current-synset {
    overflow: hidden;
    height: 100%;

    #add-to-current-synset-btn {
      cursor: pointer;
      height: 600px;
      background: #FFF9CD asset-url("add-icon.png", image) no-repeat 50% 50%;

      &.disabled {
        cursor: default;
        background: none;
      }
    }
  }

  // Synonymes
  #synonymes {
    .accordion-heading {
      a {
        font-weight: bold;
        font-size: 110%;
        color: #666;
        @include background-image(none);
        background-color: #dedede;
      }

      .accordion-toggle {
        padding: 3px 10px;
      }

      .add-word {
        @extend .pull-right;
        visibility: hidden;

        &:hover {
          color: $base-blue;
        }
      }

      &:hover {
        .add-word { visibility: visible; }
      }
    }

    .accordion-inner {
      padding: 1px;
    }
  }

  // Synsets

  // Current synset
  #current-synset {
    background: #dedede;
    margin: 0 -10px;
    padding: 10px;
    //display: none;

    &.active {
      background: #FFF9CD;
    }

    // Current words as tags
    #current-words {
      padding: 0 3px 3px 3px;
      margin-bottom: 10px;
      min-height: 29px;

      &.active {
        background: #FFF9CD;
      }

      div {
        background: #eee;
        font-size: 110%;
        padding: 3px;
        margin: 3px 3px 0 0;
        @include border-radius(3px);
        @include inline-block;

        span {
          cursor: pointer;
          &:hover {
            color: $base-blue;
          }
        }
      }
    }

    #done-current-synset-btn {
      padding: 10px 0 0 0;

      button {
        width: 100px;
        font-size: 120%;

        &.btn-primary {
          width: 150px;
        }
      }
    }
  }

  // Add definition form
  #add-definition-form {
    &.form-horizontal {
      .controls {
        margin-left: 70px;
      }

      .control-label {
        width: 50px;
      }

      textarea, input[type=text] { width: 440px; }
      textarea { height: 150px; }
    }
  }
}
