<p id="project-intro">
  Проект нового электронного тезауруса русского языка, разрабатываемый совместными усилиями неравнодушных людей из<br><a href="http://urfu.ru">УрФУ</a>, <a href="http://www.hse.ru">ВШЭ</a>, <a href="http://wwwrus.imm.uran.ru/">ИММ УрО РАН</a> и <a href="http://kontur.ru/">Kontur Labs</a>.
</p>

<div class="row-fluid">
  <div class="span4 panel">
    <div class="panel-inner">
      <h3>Ссылки</h3>

      <ul>
        <li><a href="https://github.com/xoposhiy/yarn">Черновик XML-схемы</a></li>
        <li><a href="https://groups.google.com/group/yarn_org">Список рассылки</a></li>
        <li><a href="http://nlpub.ru/YARN">YARN на NLPub</a></li>
        <li><a href="http://nlpub.ru/YARN/Установка">Инструкция по запуску</a></li>
        <li><a href="http://nlpub.ru/YARN/Данные">Схема данных</a></li>
        <li><a href="http://nlpub.ru/YARN/API">Описание API</a></li>
      </ul>
    </div>
  </div>

  <div class="span4 panel">
    <div class="panel-inner">
      <h3>Статистика</h3>

      <ul>
        <li><strong>Слов</strong>&nbsp;&ndash;&nbsp;<%= Word.count %></li>
        <li><strong>Синсетов</strong>&nbsp;&ndash;&nbsp;<%= Synset.count %></li>
      </ul>
    </div>
  </div>

  <div class="span4 panel">
    <div class="panel-inner">
      <h3>Участие</h3>

      <p>Вы можете присоединиться к нашему проекту. Для этого достаточно сообщить нам об этом в списке рассылки.</p>
    </div>
  </div>
</div>
