<div class="row-fluid">
  <h1>Yet Another RussNet</h1>
  <p>Целью проекта является создание большого открытого электронного
  тезауруса русского языка.</p>

  <p>Работа над проектом началась в 2012 году. Основная идея
  проекта — эксперимент по комбинированию традиционных принципов создания
  ворднетов и вики-подхода к наполнению и редактированию лингвистических
  ресурсов.</p>

  <p>Любой желающий может присоединиться к обсуждению проекта в
  <a href="https://groups.google.com/forum/#!forum/yarn_org">рассылке</a>
  и непосредственной работе по наполнению тезауруса.</p>

  <p>Проект осуществляется при участии <a href="http://urfu.ru">УрФУ</a>,
  <a href="http://www.imm.uran.ru/">ИММ УрО РАН</a>,
  <a href="http://philology.hse.ru/">ВШЭ</a>, и выполняется при финансовой
  поддержке <a href="http://www.rfh.ru">РГНФ</a>, грант №13-04-12020.</p>
</div>
