<div class="row-fluid">
  <h1>Технологии</h1>
  <p>Программное обеспечения YARN разработано на основе <a href="http://rubyonrails.org/">Ruby on Rails</a>
  и <a href="http://postgresql.org/">PostgreSQL</a>.</p>
  <p>Техническое описание ресурса можно найти на
  <a href="http://nlpub.ru/YARN">NLPub</a>, в частности:</p>
  <ul>
    <li>подробное <a href="http://nlpub.ru/YARN/%D0%98%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F">руководство по работе с редактором</a>;</li>
    <li>инструкции по <a href="http://nlpub.ru/YARN/%D0%A3%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BA%D0%B0">установке и запуску программного обеспечения</a> для разработки;</li>
    <li>детальное <a href="http://nlpub.ru/YARN/%D0%94%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5">описание реляционной схемы данных</a> тезауруса;</li>
    <li>руководство по <a href="http://nlpub.ru/YARN/%D0%A1%D0%BB%D0%BE%D0%B2%D0%B0%D1%80%D0%B8">добавлению нового словаря</a> в тезаурус;</li>
    <li>описание <a href="http://nlpub.ru/YARN/API">программного интерфейса</a> для разработчиков.</li>
  </ul>
</div>
